body{
    background-image: url("test.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.ques{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: whitesmoke;
    padding-top: 20px;
    font-size: 30px;
}

.question1{
    padding-left: 20px;
    padding-top: 20px;
}

.question2{
    padding-left: 20px;
    padding-top: 20px;
}

.question3{
    padding-left: 20px;
    padding-top: 20px;
}

.question4{
    padding-left: 20px;
    padding-top: 20px;
}

.question5{
    padding-left: 20px;
    padding-top: 20px;
}

#ans1{
    border-radius: 5%;
    padding-top: 15px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 1250px;
    height: 200px;
}

#ans2{
    border-radius: 5%;
    padding-top: 15px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 1250px;
    height: 200px;
}

#ans3{
    border-radius: 5%;
    padding-top: 15px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 1250px;
    height: 200px;
}

#ans4{
    border-radius: 5%;
    padding-top: 15px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 1250px;
    height: 200px;
}

#ans5{
    border-radius: 5%;
    padding-top: 15px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 1250px;
    height: 200px;
}

/* #submit {
    padding: 10px;
    border: 10px;
    border-color: rgb(52, 139, 35);
    margin-left: 450px;
    background-origin: padding-box;
} */
#submit {
    margin-left: 570px;
    margin-top: 20px;
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 30px;
    background-color: rgb(51, 167, 245);
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
/* Adding transformation when the button is active */
  
#submit:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

#dt{
    color: white;
    size: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-left: 20px;
}

#dt2{
    color: white;
    size: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-left: 20px;
}
  
#nm{
    color: white;
    padding-top: 10%;
    size: 5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-weight: bold;
}


#user_name{
    size: 5%;
    color: black;
    margin-left: 20px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 400px;
    height: 40px;
}

#em{
    color: white;
    size: 5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-weight: bold;
}

#user_email{
    size: 5%;
    color:black;
    margin-left: 20px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 400px;
    height: 40px;
}

#ad{
    color: white;
    size: 5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-weight: bold;
}

#aadhar{
    size: 5%;
    color: black;
    margin-left: 20px;
    border-color: rgb(51, 167, 245);
    border-width: 5px;
    width: 400px;
    height: 40px;
    margin-bottom: 100px;
}

#sb{
color: blue;
size: 5%;
}